.table {
    width: 70%;
    border-collapse: collapse;
  }
  .table-container {
    display: flex;
    justify-content: center;
  }
  
  .table th, .table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    text-align: center;
  }
  
  .table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .table th {
    background-color: #4CAF50;
    color: white;
    text-align: center;
  }
  .title-nav1{
    background-color: #2d2a57;
    color: #fff;
    padding: 10px 0;
    text-align: center;
  }