<app-navbar></app-navbar>

<h2 class="title-nav1">Inventario</h2>
<div class="table-container">
    <!-- nombre-componente.component.html -->
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Producto</th>
            <th>Cantidad</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>John</td>
            <td>Doe</td>
            <td>30</td>
        </tr>
        <tr>
            <td>Jane</td>
            <td>Doe</td>
            <td>25</td>
        </tr>
        </tbody>
    </table>
</div>
